.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 10%;
  min-height: 100vh;
  background-color: #36791E;  
}

 .login_container {
  display: flex;
  width: 100%;  
  background-color: #36791E;  
  align-items: center;
  justify-content: space-between;
}

.info_login {
  width: 50%;  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login_form_container {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form_login {
  width: 28rem;
  height: 29rem;
  padding: 1rem 1rem;
  border-radius: 20px;
  background-color: #FFFFFF;
  flex-direction: column;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.register_name_surname{
  display: flex;
  flex-direction: row;
  width: 95%;
}

.inputLog {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.labInput {  
  margin: 2rem 0px 0px;  
}

.input {
  border-radius: 8px;
  height: 30px;
  background-color: #D9D9D9;
  color: #224b13;
  width: 90%;
  border: none;
  outline: 1;
  margin: 0;
  padding: 0;
  margin: 0px 20px;
  font-size: 1rem;
  letter-spacing: .1rem;
  text-align: center;
}

.inputPassword{
  display: flex;
  flex-direction: row;  
}

.label {
  margin-left: 15px;
  margin-top: 25px;
}

.notUser{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: .5rem;  
  
}

.forgotPass{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.FgPass {
  text-decoration: none;
  color: rgb(28, 77, 212);  
}

.buttons {
  margin-top: 2rem;  
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttons a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.button {
  width: 12rem;
  height: 3rem;
  cursor: pointer;
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  background-color: #36791E;
  margin-bottom: 15PX;
  text-align: center;
  font-size: 1rem;
}