.section{
    background-color: #245313;   
    width: 280px;
    height: 100vh;
    display: flex;
    flex-direction: column;            
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

.userInf{
    background-color:#15330b;
    width: 280px;
    height: 220px;    
    top:0;
    margin: 0;
    padding: 0;
}

.logo_Cice{
    position: absolute;
    margin: 20px 0 0 20px;
}

.userName{    
    margin-top: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;    
}

.user{        
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;    
}

.avatarContainer{
    display: flex;
    justify-content: center;
    margin-top: -35px;
}

.avatar {
    vertical-align: middle;
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

.options{
    display: block;    
    width: 280px;
    height: auto;
}

.option_title{
    margin: 30px 0 0 20px;
    color: #949494;
}

.logout{
    display: flex;
    justify-content: flex-start;
    margin: 20px 0px 0px 40px
}

.ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;    
    margin: 0;
    padding: 0;
}

.ul .li {
    flex-grow: 1;
    text-align: start;
    margin: 20px 0 0 40px;
}


@media all and (max-width: 800px) {
    .section {
        justify-content: space-around;
    }   
}

@media only screen and (max-width:542px) {
   
    .section {
        flex-grow: 1;
        text-align: center;
    }

        .ul {
        background-color:  #245313; ;
        width: 100%;
        margin-top: 15px;
        display: flex;
        flex-direction: column;        
    }

    .ul .li {
        width: 90%;
        margin: auto;
        padding: 10px;
    }
}